*,
*:before,
*:after {
  box-sizing: border-box;
  user-select: none;
  pointer-events: none;
}
.level2 {
  width: 350px;
  height: 220px;
  padding: 15px 10px 20px;
  /*padding: 15px 10px 20px 10px;*/
  margin-bottom: 30px;
  /*margin: 0 0 30px 0;*/
  border: solid 2px red;
  background-color: green;
}
.level2 img {
  width: 100%;
  height: 100%;
}
.level3 p{
  text-align: justify;
}
.level3 img:first-child {
  width: 300px;
  float: left;
  padding: 0 20px 10px 0;
  /*padding: 20px;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 10px;*/
}
.level3 img:last-child {
  width: 228px;
  float: right;
  padding: 20px 0 10px 20px;
  /*padding: 20px;
  padding-right: 0;
  padding-bottom: 10px;*/
}

