*,
*:before,
*:after {
  box-sizing: border-box;
}
/*________________________________________________________________________________________________*/
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*----------------------------------------header--------------------------------------------------*/
header{
  background-color: #d4b90c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header img{
  padding: 15px;
  max-width: 200px;
}
.menu{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.menu li{
  padding: 10px;
  list-style: none;
}
.menu > li > a{
  color: #000;
  text-decoration: none;
}
/*---------------------------------------------main-----------------------------------------------*/
main{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.content{
  display: flex;
  flex-direction: column;
}
.content > span{
  padding: 20px;
  text-align: center;
  align-items: flex-start;
}
.content > b{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
.items{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  flex-grow: 4;
  justify-content: space-around;
}
.item{
  border: 2px solid #b0b0b0;
  border-radius: 30px;
  width: 32.5%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}
.item:hover{
  border: 2px solid #be0bd6;
  opacity: .8;
  box-shadow: 0 0 15px #000;
}
.wrap{
  display: flex;
  flex-direction: column;
}
.wrap > b{
  text-align: center;
}
.wrap_img{
  text-align: center;
}
.wrap_img > img{
  border: 8px solid #c8b9b9;
  border-radius: 50%;
  max-width: 10vw;
}
.item > p{
  flex-grow: 5;
  text-align: center;
}
.item > a{
  background-color: #685075;
  border-radius: 30px;
  padding: 2px 10px 2px 10px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px;
  width: 20%;
  transform: translateX(200%);
}
.aside1{
  background-color: #c89abb;
  order: -1;
  padding: 50px;
  padding-top: 10px;
  flex-grow: 1;
}
.aside2{
  background-color: #9eb3c8;
  padding: 50px;
  padding-top: 10px;
  flex-grow: 1;
}
/*---------------------------------------footer----------------------------------------------------*/
footer{
  background-color: #87ed87;
  text-align: center;
  padding: 10px;
}
/*_________________________________________________________________________________________________*/
.holder{
  border: 3px solid #000;
  border-radius: 35px 35px 0 0;
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: hidden;
}
.holder_item{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}
.holder_item:first-child{
  background-color: #fd644c;
  order: -3;
  width: 50%;
  /*border-radius: 31px 0 0 0;*/
}
.holder_item:last-child{
  background-color: #fda625;
  order: -2;
  width: 50%;
  /*border-radius: 0 31px 0 0;*/
}
.holder_item:nth-child(2){
  background-color: #4884b4;
  flex-grow: 1;
}
.holder_item:nth-child(3){
  background-color: #663498;
  flex-grow: 1;
  order: -1;
}
.holder_item:nth-child(4){
  background-color: #06800a;
  flex-grow: 1;
}